.player {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--branco);
    width: 100vw;
}

.player-container {
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 2px;
    padding: 10px;
    border-left: 2px solid var(--preto);
    border-right: 2px solid var(--preto);
    border-radius: 10px;
    gap: 26px;
}

.player-container .video-container  video {
    width: 100%;
    border-radius: 8px;
}

.player-container .player-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.player-control i {
    color: var(--branco);
}


.player-control .pre-btn, .player-control .list-episodes, .player-control .next-btn {
    background-color: var(--azul-escuro);
    width: 22vw;
    text-align: center;
    font-size: 24px;
    padding-top: 5px;
    border: 1px solid var(--azul);
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.player-control .pre-btn:hover, .player-control .list-episodes:hover, .player-control .next-btn:hover {
    border-color: var(--branco);
    box-shadow: 2px 2px 8px var(--azul-claro);
    transform: scale(1.03);
}

.player-container .description {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--azul-escuro);
    border-radius: 8px;
    border: 1px solid var(--azul);
    padding: 10px 0;
    width: 100%;
    letter-spacing: 2px;
}

.player-container .description span {
    color: var(--azul-claro);
    font-size: 18px;
}

.player-container .description p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
    letter-spacing: 3px;
    font-size: 18px;
}

.container-ep {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #0f0f0f69;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--preto);
    padding: 10px 0;
    gap: 20px;
}

.card {
    background-color: var(--azul-escuro);
    width: 180px;
    border: 1px solid var(--azul);
    border-radius: 5px;
}

.card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card p {
    padding-left: 10px;
}

@media (max-width: 999px) {
    .player-container {
        width: 80vw;
    }

    .player-control .pre-btn, .player-control .list-episodes, .player-control .next-btn {
        width: 25vw;
    }
}

@media (max-width: 768px) {
    .player-container {
        width: 90vw;
    }

    .player-control .pre-btn, .player-control .list-episodes, .player-control .next-btn {
        width: 29vw;
    }
}

@media (max-width: 550px) {
    .player-container {
        width: 100vw;
        border: none;
        padding: none;
        gap: 10px;
    }

    .player-control .pre-btn, .player-control .list-episodes, .player-control .next-btn {
        width: 32vw;
    }

}