@charset "UTF-8";

@import url(reset.css);
@import url(main.css);
@import url(./components/nav.css);
@import url(./components/footer.css);

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Teko:wght@300..700&display=swap');


:root {
    --branco:#ffffff;
    --cinza-claro:   #AAB0C0;   /*para textos secundários*/
    --dark:          #15131F;    /*ideal como fundo geral*/ 
    --preto:         #000000;    /*para contrastes fortes*/
    --azul: #0066FF;    /*azul mais limpo e moderno*/ 
    --azul-claro: #00AEEF;    /*azul neon mais vibrante, traz tecnologia e energia */
    --azul-medio: #1E2A78; /*novo tom intermediário para transições suaves*/
    --azul-escuro:   #0B0037;    /*mantém seu azul profundo, bom para fundos*/ 

    --fonte-padrao: "Teko", sans-serif;
    --fonte-texto: "Noto Sans", sans-serif;
}

body {
    background-color: var(--dark);
    font-family: var(--fonte-padrao);
}