main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--branco);
}

.slider {
    display: flex;
    width: 100%;
    align-items: center;
}

.bg-slider {
    opacity: 0.5;
    width: 100vw;
    height: 90vh;
    object-fit: cover;
    transition: opacity 0.8s ease-in-out;
}
.bg-slider.show {
    opacity: 1;
}

.slide-card {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.70) 40%, transparent);
    color: var(--branco);
    display: flex;
    align-items: center;
    position: absolute;
    padding-left: 90px;
    top: 10vh;
    height: 90vh;
    gap: 15px;
    opacity: 0.5;
    transition: opacity 0.8s ease-in-out;
}

.slide-card.show {
    opacity: 1;
}

.info {
    background-color: #11111173;
    backdrop-filter: blur(3px);
    padding: 20px;
    border: 1px solid var(--azul);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 60vh;
}

.descricao h1 {
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
    color: var(--branco);
    font-size: 24px;
    font-weight: 400;
    height: 40px;
    width: 300px;
}

.descricao .temp-class {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 20px;
    font-size: 14px;
    font-weight: 400;
    margin-left: 30px;
    letter-spacing: 2px;
    height: 30px;
}
.temp-class img {
    border-radius: 3px;
    width: 15px;
    height: 15px;
}

.text {
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    overflow: hidden;
    -webkit-box-orient: vertical; 
    text-overflow: ellipsis;
    font-size: 15px;
    font-family: var(--fonte-texto);
    width: 350px;
}

.card-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 210px;
    height: 50px;
    gap:10px;
}

.card-buttons button {
    border: none;
    width: 100%;
    height: 40px;
    background-color: var(--azul-claro);
    color: var(--branco);
    border-radius: 10px;
    text-align: center;
    letter-spacing: 4px;
    font-size: 24px;
    font-weight: 400;
    transition: 0.3s;
}


.card-buttons button:hover {
    background-color: var(--azul);
    box-shadow: 1px 3px 9px;
    transform: scale(1.02);
}

.card-buttons .favorite{
    background-image: url(../img/icons/marcador.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
    transition: 0.5s;
}

.card-buttons .favorite:hover {
    background-image: url(../img/icons/seg-marcador.svg);
    transform: scale(1.2);
}

.btn-slide {
    position: absolute;
    display: block;
    text-align: center;
    width: 55px;
    height: 53px;
    background-color: var(--azul);
    opacity: 0.8;
    color: var(--dark);
    border: none;
    border-radius: 100px;
    font-size: 40px;
    top: 45%;
    transition: 0.3s;
    z-index: 5;
}

.btn-slide:hover {
    background-color: var(--azul-claro);
    color: var(--branco);
    transform: scale(1.1);
}

.btn-slide img {
    width: 40px;
    height: 40px;
}

.btn-slide:first-child {
    left: 5px;
}

.btn-slide:last-child {
    right: 5px;
}

.releases {
    width: 100vw;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.title {
    margin: 20px 0px;
    letter-spacing: 3px;
}

.swiper {
    width: 100%;
    height: 60%;
}
.swiper-slide .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--azul-escuro);
    border: 2px solid var(--azul);
    border-radius: 10px;
    color: var(--branco);
    letter-spacing: 2px;
    width: 200px;
    height: 340px;
    transition: .5s;
}

.swiper-slide .card:hover {
    border-color: var(--azul-claro);
    box-shadow: 2px 2px 8px var(--branco);
}

.swiper-slide .card .card-img img {
    border-radius: 10px 10px 0 0;
    width: 200px;
    height: 300px;
}

.swiper-slide .card .card-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    letter-spacing: 3px;
    font-size: 16px;
    margin: 4px 8px;
    min-height: 20px;
}

.releases .prev-btn, .releases .next-btn {
    background-color: #15131f9d;
    backdrop-filter: blur(3px);
    color: var(--azul);
    padding: 8px;
    border: 1px solid var(--azul);
    border-radius: 5px;
    transition: 0.3s;
}

.releases .prev-btn:hover, .releases .next-btn:hover {
    border-color: var(--azul-claro);
    color: var(--azul-claro);
}

.latest-ep {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 2px;
    width: 70vw;
}

.container-latest {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1.25rem;
  margin: 0.625rem 0;
  width: 100%;
  max-width: 1400px;
  padding: 0 1rem;
}

.container-latest .card-latest {
    background-color: var(--azul-escuro);
    border: 1px solid var(--azul);
    width: 100%;
    aspect-ratio: 15/10;
    position: relative;
    border-radius: 8px;
    box-shadow: 2px 3px 10px black;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.container-latest .card-latest .latest-image {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0px 0px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
    display: block;
    transition: filter 0.3s ease;
}

.card-latest .title-card {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: start;
    justify-content: center;
    font-size: 1.25rem;
    letter-spacing: 4px;
    color: transparent;
    transition: 0.3s;
}

.card-latest .title-card:hover {
    background-color: #131313c4;
    color: aqua;
    padding: 0 5px;

}

.container-latest .card-latest .info-card {
  display: flex;
  justify-content: space-between;
  align-items: start;
  color: var(--branco);
  padding: 0.313rem 0.625rem;
  font-family: var(--font-texto);
  font-size: 1rem;
  font-weight: 500;
}

.container-latest .card-latest .info-card #relogio {
    color: var(--cinza-claro);
}

.recently-add {
    width: 100vw;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.title {
    margin: 20px 0px;
    letter-spacing: 3px;
}

.swiper {
    width: 100%;
    height: 60%;
}
.swiper-slide .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--azul-escuro);
    border: 2px solid var(--azul);
    border-radius: 10px;
    color: var(--branco);
    letter-spacing: 2px;
    width: 200px;
    height: 340px;
    transition: .5s;
}

.swiper-slide .card:hover {
    border-color: var(--azul-claro);
    box-shadow: 2px 2px 8px var(--branco);
}

.swiper-slide .card .card-img img {
    border-radius: 10px 10px 0 0;
    width: 200px;
    height: 300px;
}

.swiper-slide .card .card-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    letter-spacing: 3px;
    font-size: 16px;
    margin: 4px 8px;
    min-height: 20px;
}

.recently-add .prev-btn, .releases .next-btn {
    background-color: #15131f9d;
    backdrop-filter: blur(3px);
    color: var(--azul);
    padding: 8px;
    border: 1px solid var(--azul);
    border-radius: 5px;
    transition: 0.3s;
}

.recently-add .prev-btn:hover, .releases .next-btn:hover {
    border-color: var(--azul-claro);
    color: var(--azul-claro);
}

@media (max-width: 770px) {
    .slider {
        display: none;
    }
}