@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Teko:wght@300..700&display=swap');


:root {
    --branco:#ffffff;
    --azul-claro:#00A0D1; 
    --azul:#005ED1;
    --azul-escuro:#0B0037;
    --dark:#15131F;
    --preto:#000000; 

    --fonte-padrao: "Teko", sans-serif;
    --fonte-texto: "Noto Sans", sans-serif;
}


body {
    /*linear-gradient(150deg, black 40%, #28272b)*/
    background: #1f1d2b;
    color: var(--branco);
    font: var(--fonte-padrao);
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

/*cabeçalho*/

header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 80px;
}

.navigation {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.60), var(--azul-escuro));
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    font: var(--fonte-padrao);
    font-size: 26px;
    font-weight: 500;
    color: var(--azul);
    transition: 0.3s;
}

.logo:hover {
    color: var(--azul-claro);
}

.links {
    display: flex;
    font: var(--fonte-padrao);
    list-style: none;
    font-size: 20px;
    margin: 0;
    gap: 60px;
}

.nav-link {
    display: block;
    font: var(--fonte-padrao);
    color: var(--branco);
    font-weight: 400;
    letter-spacing: 3px;
    transition: 0.8s;
}

.nav-link:hover {
    transform: scale(1.2);
    text-decoration: underline;
    color: aqua;
}

.pesquisa-login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.imput-group {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 8px 8px 8px 16px;
    width: 190px;
    height: 25px;
    gap: 8px;
    backdrop-filter: blur(4px);
    border: 1px solid #ffffff3a;
}

.imput-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    min-width: 32px;
    min-height: 32px;
    background-color: var(--azul);
    color: var(--dark);
}

.imput-field {
    width: 100%;
    border: none;
    color: var(--branco);
    letter-spacing: 4px;
    background-color:transparent;
}

.imput-field::placeholder {
    color: var(--branco);
}

.imput-field:focus {
    outline: none;
}

.dropdown-toggle::after {
    color: #fff !important;
}

/*video player*/


main {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--azul-escuro) 2px solid;
    border-radius: 10px;
    padding-bottom: 8px;
    width: 60vw;
}

.video-container {
    display: flex;
    flex-direction: column;
}

.video-player {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--dark);
    width: 100%;
    border-radius: 8px;
}

.video-player .title {
    color: var(--branco);
    font-family: var(--fonte-texto);
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 0 15px 0 30px;
}

.video {
    width: 750px;
    border-radius: 8px;
    margin: 0;
}

.before-after {
    display: flex;
    justify-content: space-between;
}

.before-after button {
    background-color: var(--azul-escuro);
    color: var(--branco);
    font-size: 24px;
    border-radius: 5px;
    border: #09080e 1px solid;
    box-shadow: #000000 2px 2px 6px;
    width: 200px;
    height: 40px;
    margin: 10px;
}

.descricao {
    background-color: var(--dark);
    width: 80%;
    font-family: var(--fonte-texto);
    font-weight: 300;
    padding: 0px 30px 0px 0px;
    border-radius: 8px;
    border: var(--azul-escuro) 1px solid;
}

.descricao span {
    color: var(--azul);
    font-weight: 800;
}

/*lista de animes*/

.video-list {
    background-color: #09080e;
    border: var(--azul-escuro) 2px solid;
    border-radius: 8px;
    height: 860px;
    overflow-y: scroll;
}

.video-list::-webkit-scrollbar {
    width: 7px;
    border-radius: 50px;
}

.video-list::-webkit-scrollbar-track {
    background: #ccc;
    border: 50px;
}

.video-list::-webkit-scrollbar-thumb {
    background: var(--azul-escuro);
    border-radius: 50px;
}

.video-list .vid video {
    width: 120px;
    border-radius: 5px;
}

.video-list .vid {
    display: flex;
    align-items: center;
    gap: 15px;
    background: var(--dark);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--azul-escuro);
    cursor: pointer;
}

.video-list .vid:hover {
    background: #2b293b;
}

.video-list .vid.active {
    background: #2a3441;
}

.video-list .vid.active .title {
    color: var(--branco);
    font-weight: 500;
}

.video-list .vid .title {
    color: var(--branco);
    font-family: var(--fonte-texto);
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 2px;
}

/*footer*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(0deg, #060213e7 50%, #1e1347);
    height: 50px;
}

footer p {
    margin: 0;
    font-size: 14px;
    font-family: var(--fonte-texto);
    font-weight: 300;
    letter-spacing: 2px;
}