<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <img src="src/assets/icon/logo.png" alt="Logo do Site">
      <p>Seu portal definitivo de animes</p>
    </div>

    <nav class="footer-links">
      <a href="/catalogo">Catálogo</a>
      <a href="/lancamentos">Lançamentos</a>
      <a href="/favoritos">Favoritos</a>
      <a href="/contato">Contato</a>
    </nav>

    <div class="footer-social">
      <a href="#"><i class="bi bi-discord"></i></a>
      <a href="#"><i class="bi bi-instagram"></i></a>
      <a href="#"><i class="bi bi-twitter-x"></i></a>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 SeuSiteAnime. Todos os direitos reservados.</p>
  </div>
</footer>
