<nav class="navigation">
    <div class="logo">
        <a href="/blackanimes/index.html" class="logo">
            <img src="/blackanimes/public/assets/images/logo.png" alt="Logo do site">
        </a>
    </div>
    
    
    <ul class="nav-list">
        <li><a href="#">Animes</a></li>
        <li><a href="/blackanimes/src/pages/episodes.html">Episódios</a></li>
        <li><a href="#">Gêneros</a></li>
        <li><a href="#">Filmes</a></li>
    </ul>
    
    <div class="nav-controls">
        <div class="search-container">
            <div class="search-btn">
                <i class="bi bi-search"></i>
            </div>
        
            <div class="search-input">
                <input type="text" class="search-text" placeholder="Hoje to afim de assistir...">
            </div>
            <div class="close-btn">
                <i class="bi bi-x-circle"></i>
            </div>
        </div>
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </div>
</nav>