header {
    display: flex;
    flex-direction: column;
    height: 550px;
}

.navigation {
    width: 100%;
    height: 100px;
    padding-top: 34px;
    background-color: transparent;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.logo {
    font: var(--fonte-padrao);
    font-size: 26px;
    font-weight: 500;
    color: var(--azul);
}

.logo:hover {
    color: var(--azul-escuro);
    transition: 0.3s;
}

.links {
    display: flex;
    font: var(--fonte-padrao);
    font-size: 18px;
    font-weight: 400;
    width: 310px;
    height: 40px;
    gap: 60px;
}

.nav-link:hover {
    font: var(--fonte-padrao);
    text-decoration: underline;
    color: var(--azul-escuro);
    transition: 0.4s;
}

.pesquisa-login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.imput-group {
    background-color: rgba(255, 255, 255, 0.452);
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 8px 8px 8px 16px;
    width: 210px;
    height: 40px;
    gap: 8px;
}

.imput-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    min-width: 32px;
    min-height: 32px;
    background-color: var(--azul);
    color: var(--dark);
}

.imput-field {
    width: 100%;
    border: none;
    color: black;
    background-color:transparent;
}

.imput-field::placeholder {
    color: black;
}

.imput-field:focus {
    outline: none;
}

.carrossel {
    display: flex;
    width: 100%;
    position: absolute;
    z-index: -1;

}

.bg-carrosel {
    width: 100%;
    height: 550px;
    position: absolute;
    z-index: -1;
}

.slide-card {
    background-color: #15131f9a;
    color: var(--branco);
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 350px;
    height: 400px;
    padding: 20px 30px;
    column-gap: auto;
}

.slide-card h1 {
    display: flex;
    justify-content: center;
    color: var(--azul);
    font-size: 28px;
    font-weight: 600;
}

.slide-card .temp-class {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 15px;
    font-size: 14px;
    font-weight: 500;
    margin-left: 30px;
}