.cabecalho {
    width: 100%;
    height: 100px;
    padding-top: 34px;
    background-color: gray;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.pesquisa-login {
    display: flex;
    gap: 20px;
}


.links {
    display: flex;
    gap: 40px;
}